---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { Card } from "@components/Card";
import { getAllPosts } from "@services/posts";
import { getUniqueTags } from "@utils/getUniqueTags";
import { getPostsByTag } from "@utils/getPostsByTag";
import { getSortedPosts } from "@utils/getSortedPosts";
import { SITE } from "@config";

export interface Props {
  tag: string;
}

export async function getStaticPaths() {
  const posts = await getAllPosts();
  const tags = getUniqueTags(posts);

  return tags.map(tag => ({
    params: { tag },
    props: { tag },
  }));
}

const { tag } = Astro.props;

const posts = await getAllPosts();
const tagPosts = getPostsByTag(posts, tag);
const sortTagsPost = getSortedPosts(tagPosts);
---

<Layout title={`Tag:${tag} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={[`Tag:`, `${tag}`]}
    titleTransition={tag}
    pageDesc={`All the articles with the tag "${tag}".`}
  >
    <h1 slot="title" transition:name={tag}>{`Tag:${tag}`}</h1>
    <ul>
      {sortTagsPost.map(post => <Card post={post} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
